{% load static %}
<footer class="footer">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/footer.jpg' %}" data-speed="0.8"></div>
		 
		<div class="footer_bar">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_bar_content d-flex flex-sm-row flex-column align-items-lg-center align-items-start justify-content-start">
							<nav class="footer_nav">
								<ul class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
									<li class="active"><a href="{% url 'main' %}">Əsas səhifə</a></li>
									<li><a href="{% url 'main' %}">Haqqımızda</a></li>
									<li><a href="{% url 'main' %}l">Xidmətlər</a></li>
									<li><a href="{% url 'main' %}">Xəbərlər</a></li>
									<li><a href="{% url 'main' %}">Əlaqə</a></li>
								</ul>
							</nav>
							<div class="footer_links">
								<ul class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
									<li><a href="#">Kömək</a></li>
									<li><a href="#">Təcili yardım</a></li>
									<li><a href="#">Həkim qəbulu</a></li>
								</ul>
							</div>
							<div class="footer_phone ml-lg-auto">
								<i class="fa fa-phone" aria-hidden="true"></i>
								<span>+994 (055) 727-61-51</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>